<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

	<div th:fragment="header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">EpamSurvey</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="|/user/surveys|">My Surveys</a></li>
						<li><a href="/createSurvey">Create Survey</a></li>
					</ul>


					<div sec:authorize="!isAuthenticated()">
						<ul class="nav navbar-nav navbar-right">
				         	<li><a href="/user/login">Sign In</a></li>
							<li><a href="/user/registration">Sign Up</a></li>
				        </ul>
					</div>

					<div sec:authorize="isAuthenticated()">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
					          	<a href="#" sec:authentication="name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-triangle-bottom"></span></a>
					          	<ul class="dropdown-menu">
					          		<li><a th:href="|/user/surveys|">My Surveys</a></li>
					          		<li role="separator" class="divider"></li>
					          		<li><a href="/logout">Logout</a></li>
					          	</ul>
				          	</li>
			          	</ul>
					</div>
					
				</div>
			</div>
		</nav>
	</div>

</body>
</html>