<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">

        <h2 th:text="#{label.newSurvey.pagetitle}" class="form-signin-heading text-center"></h2>
        <br/>

        <form name='f' action='/createSurvey' method='POST' class="form-signin">
            <div class="form-group">
                <label th:text="#{label.newSurvey.title}"></label>
                <input th:placeholder="#{label.newSurvey.title.placeholder}" name="name" class="form-control" required="true" autofocus="true" />
                <br/>
                <label th:text="#{label.newSurvey.description}"></label>
                <textarea th:placeholder="#{label.newSurvey.description.placeholder}" name="description" class="form-control" rows="5" > </textarea>
                <br/>
                <button th:text="#{label.newSurvey.submit}" class="btn btn-lg btn-primary btn-block" type="submit"></button>
            </div>
        </form>
    </div>

    <div class="col-sm-2"></div>
</div>

</body>
</html>