<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="editAnswersApp" th:attr="ng-init='questionId='+${question.id}">

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="container" ng-controller="EditAnswersCtrl">

        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <h2 th:text="${question.text}" class="text-center"></h2>
            <br/>

            <form name="EditAnswers">
                <div class="form-group">
                    <ul dnd-list="answers" style="list-style: none">

                        <li ng-repeat="answer in answers"
                            dnd-draggable="answer"
                            dnd-moved="answers.splice($index, 1)"
                            dnd-effect-allowed="move">

                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" id="draggable-addon">:::</span>
                                    <span class="input-group-addon">
											<input type="radio" ng-value="{{ answer.id }}" name="isCorrect"/>
										</span>
                                    <input th:placeholder="#{label.editanswers.text.placeholder}" class="form-control" aria-describedby="draggable-addon" ng-model="answer.text"/>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="btn-group">
                                    <button class="btn btn-primary" ng-click="saveAnswer(answer.id, answer.text)">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary" ng-click="deleteAnswer(answer.id)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="dndPlaceholder">
                            <p>Drop here</p>
                        </li>
                    </ul>

                    <ul style="list-style: none">
                        <li>
                            <div>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="not-draggable-addon">X</span>
                                        <input th:placeholder="#{label.editanswers.text.placeholder}" class="form-control" aria-describedby="not-draggable-addon" ng-model="newAnswer"/>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <button class="btn btn-primary" ng-click="saveAnswer(0, newAnswer)">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <button th:text="#{label.editSurvey.submit.saveAll}" class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="saveAll()"></button>
                </div>

            </form>
            <br/><br/><br/><br/><br/><br/><br/><br/>
        </div>

        <div class="col-sm-2"></div>

    </div>
</div>

<div th:replace="fragments/angular :: angular">...</div>
<script type="text/javascript" src="../js/angular-drag-and-drop-lists.min.js"
        th:src="@{/js/angular-drag-and-drop-lists.min.js}"></script>
<script type="text/javascript" src="../js/editAnswersApp.js"
        th:src="@{/js/editAnswersApp.js}"></script>

</body>
</html>