<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="editSurveyApp" th:attr="ng-init='surveyId='+${survey.id}">

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="container">
        <div class="col-sm-2"></div>

        <div class="col-sm-8" ng-controller="EditSurveyCtrl">

            <h2 th:text="#{label.editSurvey.pagetitle}" class="text-center"></h2>
            <br/>

            <form name="editSurvey">

                <div class="form-group">
                    <label th:text="#{label.newSurvey.title}"></label>
                    <input th:placeholder="#{label.newSurvey.title.placeholder}" name="name" class="form-control" required="true" autofocus="true"  ng-model="survey.name"/>
                    <br/>
                    <label th:text="#{label.newSurvey.description}"></label>
                    <textarea th:placeholder="#{label.newSurvey.description.placeholder}" name="description" class="form-control" rows="3" ng-model="survey.description"></textarea>
                </div>

                <hr/>
                <h2 th:text="#{label.editSurvey.questionstitle}" class="form-signin-heading text-center"></h2>
                <br/>

                <div class="form-group">
                    <ul dnd-list="questions" style="list-style: none">

                        <li ng-repeat="question in questions"
                            dnd-draggable="question"
                            dnd-moved="questions.splice($index, 1)"
                            dnd-effect-allowed="move">

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon" id="draggable-addon">:::</span>
                                    <input th:placeholder="#{label.editSurvey.text.placeholder}" class="form-control" aria-describedby="draggable-addon" ng-model="question.text"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group">
                                    <button class="btn btn-primary" ng-click="saveQuestion(question.id, question.text)">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                    </button>
                                    <a href="/editAnswer/{{question.id}}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <button class="btn btn-primary" ng-click="deleteQuestion(question.id)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="dndPlaceholder">
                            <p>Drop here</p>
                        </li>
                    </ul>

                    <ul style="list-style: none">
                        <li>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon" id="not-draggable-addon">X</span>
                                    <input th:placeholder="#{label.editSurvey.text.placeholder}" class="form-control"  aria-describedby="not-draggable-addon" ng-model="newQuestion"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary" ng-click="saveQuestion(0, newQuestion)">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>
                                </button>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="text-center">
                    <button th:text="#{label.editSurvey.submit.saveAll}" class="btn btn-primary" type="submit" ng-click="saveAll()" ng-disabled="saving"></button>
                    <button th:text="#{label.editSurvey.submit.publish}" class="btn btn-primary" type="submit" ng-hide="survey.isPublished" ng-click="publish()" ng-disabled="publishing"></button>
                </div>
            </form>
            <br/><br/><br/><br/><br/><br/><br/><br/>
        </div>

        <div class="col-sm-2"></div>

    </div>
</div>

<div th:replace="fragments/angular :: angular"></div>
<script type="text/javascript" src="../js/angular-drag-and-drop-lists.min.js"
        th:src="@{/js/angular-drag-and-drop-lists.min.js}"></script>
<script type="text/javascript" src="../js/editSurveyApp.js"
        th:src="@{/js/editSurveyApp.js}"></script>

</body>
</html>