<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="starter-template">
        <h1 th:text="|Error ${status}!|"></h1>
    </div>
</div>

</body>
</html>