<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">
    <div class="starter-template">
        <h1 th:text="|Error ${errorInfo.code}|"></h1>
        <h3 th:text="|Couldnt access ${errorInfo.url}|"></h3>
        <div th:if="${errorInfo.message} != null">
            <h3 th:text="|Reason: ${errorInfo.message}|"></h3>
        </div>
    </div>
</div>

</body>
</html>