<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="homeApp">

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div ng-controller="HomeCtrl">

        <div>
            <h1 th:text="#{label.home.welcome}"></h1>
            <br/>
        </div>

        <table class="table table-hover" align="center">
            <thead>
            <tr>
                <th th:text="#{label.home.maintable.headers.survey}" width="70%"></th>
                <th th:text="#{label.home.maintable.headers.questions}"></th>
                <th th:text="#{label.home.maintable.headers.take}"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="survey in surveys">
                <td>
                    <h4>{{survey.name}}</h4>
                    <h5><small class="text-muted">{{survey.description}}</small></h5>
                </td>
                <td>
                    <p>{{survey.questionsSize}}</p>
                </td>
                <td>
                    <a href="/survey/{{survey.id}}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button th:text="#{label.home.maintable.loadmore}" class="btn btn-default" ng-click="loadNextPage()" ng-show="pagination.morePagesAvailable"></button>
        </div>

    </div>

</div>

<div th:replace="fragments/angular :: angular"></div>
<script type="text/javascript" src="../js/homeApp.js"
        th:src="@{/js/homeApp.js}"></script>

</body>
</html>