<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">

        <h2 th:text="#{label.signin.title}" class="form-signin-heading"></h2>

        <form name='f' action='/user/login' method='POST' class="form-signin">
            <input th:placeholder="#{label.signin.email}" name="username" class="form-control" required="true" autofocus="true"/>
            <input th:placeholder="#{label.signin.password}" type="password" name="password" class="form-control" required="true"/>

            <p th:if="${loginError}" th:text="#{label.signin.errorrmessage}" class="error"></p>

            <div class="checkbox">
                <label>
                    <input th:text="#{label.signin.rememberme}" type="checkbox" name="remember-me"></input>
                </label>
            </div>

            <button th:text="#{label.signin.submit}" class="btn btn-lg btn-primary btn-block" type="submit"></button>
        </form>

    </div>

    <div class="col-sm-4"></div>
</div>

</body>
</html>