<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="mySurveysApp" th:attr="ng-init='userId='+${#authentication.principal.id}">

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div ng-controller="mySurveysCtrl">

        <div>
            <h1 th:text="#{label.mySurveys.welcome}"></h1>
            <br/>
        </div>

        <table class="table table-hover" align="center">
            <thead>
            <tr>
                <th th:text="#{label.mySurveys.maintable.headers.survey}" width="70%"></th>
                <th th:text="#{label.mySurveys.maintable.headers.questions}"></th>
                <th th:text="#{label.mySurveys.maintable.headers.edit}"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="survey in surveys">
                <td>
                    <h4>{{survey.name}}</h4>
                    <h5><small class="text-muted">{{survey.description}}</small></h5>
                </td>
                <td>
                    <p>{{survey.questionsSize}}</p>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="/editSurvey/{{survey.id}}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <button class="btn btn-primary" ng-click="deleteSurvey(survey.id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button th:text="#{label.mySurveys.maintable.loadmore}" class="btn btn-default" ng-click="loadNextPage()" ng-show="pagination.morePagesAvailable"></button>
        </div>

    </div>

</div>

<div th:replace="fragments/angular :: angular"></div>
<script type="text/javascript" src="../js/mySurveysApp.js"
        th:src="@{/js/mySurveysApp.js}"></script>

</body>
</html>