<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <h1 th:text="${header}" class="text-center"></h1>
        <h3 th:text="${subheader}" class="text-center"></h3>
    </div>

    <div class="col-sm-2"></div>
</div>

</body>
</html>