<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <h2 th:text="${survey.name}" class="form-signin-heading text-center"></h2>
        <br/>

        <h4 th:text="${survey.description}" class="form-signin-heading"></h4>
        <br/>

        <a th:href="|/survey/${survey.id}/take|" th:text="#{label.selectedSurvey.playbutton}" class="btn btn-lg btn-primary btn-block" type="submit"></a>
    </div>

    <div class="col-sm-2"></div>
</div>


</body>
</html>